html {
    padding: 0;
    margin: 0;
}

header {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
    color: white;
    text-align: center;
}

.huset_logo {
    color: blue;
    width: 10%;
}

h1,
p {
    color: white;
}

h1,
h2,
p,
a,
li {
    font-family: Avenir Next;
    font-size: 14px;
}

body {
    background: black;
    padding: 0;
    margin: 0;
}

nav {
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

li {
    color: white;
    list-style: none;
    width: 50%;
    text-align: center;
    margin: auto;
}

.pink_highlight {
    color: #E58B8B;
}

.events_tab:hover,
.about_tab:hover,
.events_tab_active:hover,
.about_tab_active:hover {
    cursor: pointer;
}

.events_tab {
    color: black;
    background: white;
}

.about_tab {
    color: black;
    background: white;
}

.events_tab_active {
    color: #86FF9D;
    background: black;
}

.about_tab_active {
    color: #8A7BFF;
    background: black;
}

.events_tab,
.about_tab {
    font-size: 15px;
}

.about_tab_active,
.events_tab_active {
    font-size: 20px;
}

main {
    padding: 0;
    margin: 0;
    width: 100%;
}



.sortingElem {
    text-align: center;
    border: solid white;
    border-radius: 10px;
    margin: 20px;

    width: 50%;
}

.sortingElem:hover {
    cursor: pointer;
}

.arrow {
    width: 20%;
}


.sort-container {
    flex-direction: column;
    position: absolute;
    margin: auto;
    padding: 10px 0 10px 0px;
    width: 100%;
    min-height: 100px;
    background: white;
    border-radius: 10px;
}

.sort-container li {
    color: black;
}

.sort-container li,
.sort-container a {
    color: black;
    list-style: none;
    text-decoration: none;
    width: 50%;
    text-align: center;
    margin: 5px auto;
    border: solid black;
    border-radius: 10px;
    cursor: pointer;
}

.sort-container .active_option {
    background: black;
    color: white;
}


#activity-container,
#options-about-container {
    display: none;
}

/*
div {
    text-align: center;
    color: white;
    background: black;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    border-radius: 100px;
}
*/

#activity,
#about_BT {
    color: white;
    background: black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;

}

#activity h2 {
    margin: 0;
}



/*------------------------------------------------each event*/

#event-container {
    width: 90%;
    margin: auto;

    display: grid;
    grid-gap: 20px 0px;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "event_image event_image"
        "date-container event_price"
        "description-container description-container";

    margin-bottom: 35px;
}

#event_image {
    grid-area: event_image;
    width: 100%;
    margin: auto;
}


#date-container {
    display: flex;
    background: #C5FCC3;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    border-radius: 5px;


    grid-area: date-container;
}

#event_date {
    color: black;
    font-weight: 500;
}


#event_price {
    font-size: 17px;
    color: #E58B8B;
    display: flex;
    justify-content: center;
    font-weight: 700;

    grid-area: event_price;
}


#description-container {
    grid-area: description-container;
}

#description-container p {
    /*    background-color: aqua;*/
    margin: 0;
}

#description-container a {
    display: inline-block;
    /*    background-color: red;*/
    padding: 0;
    text-decoration: none;
    color: white;
}

#event_title {
    margin: 0;
}

#description-container p {
    margin: 0;
    padding: 0;
    color: gainsboro;

}

img {}


/*sub_page*/
